# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# ML models
*.pkl
*.joblib
*.pt
*.pth
*.bin

# Raw datasets
data/raw/
temp_crisislex/
temp_humaid/
*.zip
/models/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
.commandcode/
